<select name="addbbcode21" onchange="bbfontstyle('[modx]' + this.form.addbbcode21.options[this.form.addbbcode21.selectedIndex].value + '[code]', '[/code][/modx]');this.form.addbbcode21.selectedIndex = 0;" title="{{ lang('MODX_CMD') }}">
	<option value="0" selected="selected">{{ lang('MODX_CMD') }}</option>
	<option value="{{ lang('BBCODE21_FIND') }}">{{ lang('MODX_FIND') }}</option>
	<option value="{{ lang('BBCODE21_AFTER') }}">{{ lang('MODX_AFTER') }}</option>
	<option value="{{ lang('BBCODE21_BEFORE') }}">{{ lang('MODX_BEFORE') }}</option>
	<option value="{{ lang('BBCODE21_REPLACE') }}">{{ lang('MODX_REPLACE') }}</option>
	<option value="{{ lang('BBCODE21_DELETE') }}">{{ lang('MODX_DELETE') }}</option>
	<option value="{{ lang('BBCODE21_INFIND') }}">{{ lang('MODX_INFIND') }}</option>
	<option value="{{ lang('BBCODE21_INAFTER') }}">{{ lang('MODX_INAFTER') }}</option>
	<option value="{{ lang('BBCODE21_INBEFORE') }}">{{ lang('MODX_INBEFORE') }}</option>
	<option value="{{ lang('BBCODE21_INREPLACE') }}">{{ lang('MODX_INREPLACE') }}</option>
</select>
